#! /usr/bin/make -f
# -*- makefile -*-
# This rules script is used to control which package rules script is run.
# To build a package, run BUILD_PACKAGE=<packagename> fakeroot dpkg-buildpackage.
# <packagename> can be either alienarena2007, alienarena2007-server, or
# alienarena2007-data. This script also determine if tarballs will be
# created. To build a source tarball specific to a package, run
# BUILD_PACKAGE=<packagename> BUILD_TARBALL=yes fakeroot dpkg-buildpackage.

ifeq ($(BUILD_PACKAGE), alienarena2007-server)
	BUILD_PACKAGE = alienarena2007
endif

tarball:
   ifeq ($(BUILD_TARBALL), yes)
	$(MAKE) -f debian/$(BUILD_PACKAGE).rules $@
   endif

build: tarball
	$(MAKE) -f debian/$(BUILD_PACKAGE).rules $@

clean:
	$(MAKE) -f debian/alienarena2007.rules $@
	$(MAKE) -f debian/alienarena2007-data.rules $@
	dh_clean

install: build

# Build architecture-independent files here.
binary-indep: build install
	$(MAKE) -f debian/$(BUILD_PACKAGE).rules $@

# Build architecture-dependent files here.
binary-arch: build install
	$(MAKE) -f debian/$(BUILD_PACKAGE).rules $@

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
