#! /usr/bin/make -f
# -*- makefile -*-
# This rules script is used to control which package rules script is run.
# To build a package, run BUILD_PACKAGE=<packagename> dpkg-buildpackage -rfakeroot.
# <packagename> can be either alienarena2007, alienarena2007-server, or
# alienarena2007-data.

ifeq ($(BUILD_PACKAGE), alienarena2007-server)
	BUILD_PACKAGE = alienarena2007
endif

build:
   ifeq ($(BUILD_PACKAGE), all)
	$(MAKE) -f debian/alienarena2007.rules $@
	$(MAKE) -f debian/alienarena2007-data.rules $@
   else
	$(MAKE) -f debian/$(BUILD_PACKAGE).rules $@
   endif

clean:
	$(MAKE) -f debian/alienarena2007.rules $@
	$(MAKE) -f debian/alienarena2007-data.rules $@
	dh_clean

install: build

# Build architecture-independent files here.
binary-indep: build install
   ifeq ($(BUILD_PACKAGE), all)
	$(MAKE) -f debian/alienarena2007-data.rules $@
   else
	$(MAKE) -f debian/$(BUILD_PACKAGE).rules $@
   endif

# Build architecture-dependent files here.
binary-arch: build install
   ifeq ($(BUILD_PACKAGE), all)
	$(MAKE) -f debian/alienarena2007.rules $@
   else
	$(MAKE) -f debian/$(BUILD_PACKAGE).rules $@
   endif

binary: binary-arch binary-indep
.PHONY: build clean binary-arch binary-indep binary install
