[Desktop Entry]
Encoding=UTF-8
Name=Alien Arena 2007
Comment=A standalone 3D first person online deathmatch shooter.
Comment[de]=Possible German translation.
Comment[es]=Un videojuego sobre red de tirador en primera persona.
Icon=alienarena2007
Exec=/usr/games/alienarena2007 -q
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
