Source: alienarena2007
Section: contrib/games
Priority: extra
Maintainer: Andres Mejia <mcitadel@gmail.com>
Build-Depends: debhelper (>= 5), dpatch, libc6-dev (>= 2.3.6), libgl1-mesa-dev, libglu1-mesa-dev, libjpeg62-dev, libsdl1.2-dev, libx11-dev, libxext-dev, libxxf86dga-dev, libxxf86vm-dev, linux-libc-dev | linux-kernel-headers, mesa-common-dev, x11proto-core-dev, x11proto-xf86dga-dev, x11proto-xf86vidmode-dev
Standards-Version: 3.7.2

Package: alienarena2007
Architecture: any
Depends: ${shlibs:Depends}, alienarena2007-data
Description: Standalone 3D first person online deathmatch shooter
 ALIEN ARENA 2007 is a standalone 3D first person online deathmatch shooter crafted from the original source code of  Quake II and Quake III, released by id Software under the GPL license. With features including 32 bit graphics, new particle engine and effects, light blooms, reflective water, hi resolution textures and skins, hi poly models, stain maps, ALIEN ARENA pushes the envelope of graphical beauty rivaling today's top games.
 .
 The game features 37 levels, which can be played online against other players, or against the built in CodeRED bots.
 .
 Alien Arena offers CTF, AOA(All Out Assault) mode, in which players can climb into vehicles to do battle, Deathball, and Team Core Assault. Simply go into the multiplayer menu to start a server, change the game rules, and choose a map to play on. You can also select from five different mutators(instagib, rocket arena, excessive, low grav, regen, and vampire) to further customize your game experience.
 .
 This package installs the SDL client for Alien Arena 2007.
 .
 Homepage http://red.planetarena.org

Package: alienarena2007-server
Architecture: any
Depends: ${shlibs:Depends}, alienarena2007, alienarena2007-data, ruby
Description: Dedicated server for Alien Arena 2007
 ALIEN ARENA 2007 is a standalone 3D first person online deathmatch shooter crafted from the original source code of  Quake II and Quake III, released by id Software under the GPL license. With features including 32 bit graphics, new particle engine and effects, light blooms, reflective water, hi resolution textures and skins, hi poly models, stain maps, ALIEN ARENA pushes the envelope of graphical beauty rivaling today's top games.
 .
 The game features 37 levels, which can be played online against other players, or against the built in CodeRED bots.
 .
 Alien Arena offers CTF, AOA(All Out Assault) mode, in which players can climb into vehicles to do battle, Deathball, and Team Core Assault. Simply go into the multiplayer menu to start a server, change the game rules, and choose a map to play on. You can also select from five different mutators(instagib, rocket arena, excessive, low grav, regen, and vampire) to further customize your game experience.
 .
 This package installs the dedicated server for Alien Arena 2007.
 .
 Homepage http://red.planetarena.org

Package: alienarena2007-dbg
Architecture: any
Depends: alienarena2007 (= ${Source-Version})
Description: debugging symbols for alienarena2007
 ALIEN ARENA 2007 is a standalone 3D first person online deathmatch shooter crafted from the original source code of  Quake II and Quake III, released by id Software under the GPL license. With features including 32 bit graphics, new particle engine and effects, light blooms, reflective water, hi resolution textures and skins, hi poly models, stain maps, ALIEN ARENA pushes the envelope of graphical beauty rivaling today's top games.
 .
 The game features 37 levels, which can be played online against other players, or against the built in CodeRED bots.
 .
 Alien Arena offers CTF, AOA(All Out Assault) mode, in which players can climb into vehicles to do battle, Deathball, and Team Core Assault. Simply go into the multiplayer menu to start a server, change the game rules, and choose a map to play on. You can also select from five different mutators(instagib, rocket arena, excessive, low grav, regen, and vampire) to further customize your game experience.
 .
 This package installs the SDL client debugging symbols for Alien Arena 2007.
 .
 Homepage http://red.planetarena.org

Package: alienarena2007-server-dbg
Architecture: any
Depends: alienarena2007-server (= ${Source-Version})
Description: debugging symbols for alienarena2007-server
 ALIEN ARENA 2007 is a standalone 3D first person online deathmatch shooter crafted from the original source code of  Quake II and Quake III, released by id Software under the GPL license. With features including 32 bit graphics, new particle engine and effects, light blooms, reflective water, hi resolution textures and skins, hi poly models, stain maps, ALIEN ARENA pushes the envelope of graphical beauty rivaling today's top games.
 .
 The game features 37 levels, which can be played online against other players, or against the built in CodeRED bots.
 .
 Alien Arena offers CTF, AOA(All Out Assault) mode, in which players can climb into vehicles to do battle, Deathball, and Team Core Assault. Simply go into the multiplayer menu to start a server, change the game rules, and choose a map to play on. You can also select from five different mutators(instagib, rocket arena, excessive, low grav, regen, and vampire) to further customize your game experience.
 .
 This package installs the dedicated server debugging symbols for Alien Arena 2007.
 .
 Homepage http://red.planetarena.org
